/**
 * FlowBack was created and project lead by Loke Hagberg. The design was
 * made by Lina Forsberg. Emilio Müller helped constructing Flowback.
 * Astroneatech created the code. It was primarily financed by David
 * Madsen. It is a decision making platform.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see https://www.gnu.org/licenses/.
*/

.member-block .media-img {
    width: 48px;
    height: 48px;
}

.svg-icon {
    width: 30px;
    height: 30px;
}

.temp-spacing {
    margin-right: 1rem;
}

.temp-btn-color-lightgreen {
    color: rgb(152, 207, 159);
    border-color: rgb(152, 207, 159);
}

.temp-btn-color-lightcoral {
    color: lightcoral;
    border-color: lightcoral;
}

.temp-btn-color-lightcoral:focus {
    color: lightcoral;
    border-color: lightcoral;
}

.temp-btn-bg-white {
    background-color: white;
}

.temp-btn-bg-white:focus {
    background-color: white;
}

.titles{
    display:flex;
    justify-content: space-between;
    
}

.titles > div{
    flex:1;
    text-align: center;
}


/* .titles > div{
    
} */

.user-block{
    width:80px;
}