.font-small {
    font-size: 12px;
}

.font-big {
    font-size: 18px;
}

.text-grey {
    color: gray;
}

.accordion {
    border: 0;
}

.rm-accordion-icon:after {
    content: none;
}

.bg-for {
    background-color: lightgreen;
}

.bg-abstain {
    background-color: #fade6e;
}

.bg-against {
    background-color: #e24a45;
}

.proposal-details-text-fix{
    word-break: break-all;
    border:solid rgb(221, 221, 221) 1px;
}