/**
 * FlowBack was created and project lead by Loke Hagberg. The design was
 * made by Lina Forsberg. Emilio Müller helped constructing Flowback.
 * Astroneatech created the code. It was primarily financed by David
 * Madsen. It is a decision making platform.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see https://www.gnu.org/licenses/.
*/

.counter-proposal-top{
    display:flex;
}

.counter-proposal-top > div{
    flex:1;
}

.counter-proposal-title{
    padding:1rem
}

.vote-buttons{
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 80px;
    display: flex;
    justify-content: flex-end;
}

.vote-buttons > button{
    font-size: clamp(10px, 1.4vmax, 11px);
    border-width: 0px;
    background-color: transparent;
}

.vote-buttons > button > div{
    display:none;
}

.vote-buttons > button:active{
    outline:none;
}

.for{
    color: lightgreen;
    transition: filter 0.6s cubic-bezier(0.165, 0.84, 0.15, 1);
}

.for:hover{
    filter: saturate(2);
}

.abstain{
    color: #fade6e;
    transition: filter 0.6s cubic-bezier(0.165, 0.84, 0.15, 1);
}

.abstain:hover{
    filter: saturate(1.5);
}

.against{
    transition: filter 0.6s cubic-bezier(0.165, 0.84, 0.15, 1);
    color: #f66c67;
    margin-right:-2.5px;
}

.against:hover
{
    filter: saturate(1.2);
}

.voteDisabled{
    filter: grayscale(.25);
    pointer-events: none;
    color:grey;

}

textarea{
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    border-radius: 2%;

}

.proposal-description{
    margin:10px;
    margin-left:0px;
    padding-left:1.5rem;
}

.column-style{
    padding: 8px 16px;
}

.proposal-top-part{
    display:flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid lightgrey;
}

.proposal-top-part > .vote-buttons{
    width:50%;
}

.user-name-proposal{
    size:2rem;
    cursor: pointer;

}

.column-container{
    box-shadow: inset 0rem 0rem 0.4rem rgb(0 0 0 / 10%);
    margin-bottom: 50px;
    border-radius: 10px;
    padding:0;
    background-color: #FCFCFC;
}

.proposal-buttons-and-user{
    display:flex;
    justify-content: space-between;
    padding:1rem;
}

.expand-description-circle{
    cursor: pointer;
    transition: transform 1.5s;
}

.clicked{
    transform:rotate(180deg);
}

.total-cardinal{
    font-size: 1.4rem;
}