/**
 * FlowBack was created and project lead by Loke Hagberg. The design was
 * made by Lina Forsberg. Emilio Müller helped constructing Flowback.
 * Astroneatech created the code. It was primarily financed by David
 * Madsen. It is a decision making platform.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see https://www.gnu.org/licenses/.
*/

.counter-proposal-top{
    display:flex;
}

.counter-proposal-top > div{
    flex:1;
}

.counter-proposal-title{
    padding:0.5rem
}

.vote-buttons{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 80px;
}

.vote-buttons > button{
    font-size: clamp(10px, 1.4vmax, 16px);
    border-width: 0px;
}

.vote-buttons > button:active{
    outline:none;
}

.for{
    background-color: lightgreen;
}

.for:hover{
    background-color: #43da78;
}

.abstain{
    background-color: #fade6e;
}

.abstain:hover{
    background-color: #e9ca50;
}

.against{
    background-color: #e24a45;
    margin-right:-2.5px;
}

.against:hover
{
    background-color: #da241e;
}

textarea{
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    border-radius: 2%;

}

.proposal-description{
    margin:10px 10px 10px 10px;
}

.column-style{
    padding: 8px 16px;
}