.prediction-score-buttons {
    /* height: 5vw;
    min-height: 2rem; */
    /* width: 8vw; */
    /* min-width: 3rem; */
    width: clamp(3rem, 6vw, 100px);
    height: clamp(2rem, 5vw, 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.predictions {
    max-width: 1000px;
    margin-inline: auto;
    display:flex;
    flex-direction: row-reverse;
}

.predictions-side{
    width:30%;
}

@media (max-width:700px) {
    .prediction-score-buttons {
        width: 33%;
    }

    .predictions-side{
        width:100%;
    }

    .predictions{
        display:inherit;
    }

}

