/**
 * FlowBack was created and project lead by Loke Hagberg. The design was
 * made by Lina Forsberg. Emilio Müller helped constructing Flowback.
 * Astroneatech created the code. It was primarily financed by David
 * Madsen. It is a decision making platform.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see https://www.gnu.org/licenses/.
*/

/*-------------------------------------------
           Mission Dashboard
-------------------------------------------*/
/*--Group Chat Chat--*/
.group-chat-card .msg-form {
    border-radius: 7px;
    border: 1px solid #b9b9b9;
    overflow: hidden;
}
.group-chat-card .card-footer{
    border: 0;
    padding-bottom: 1rem;
}
.group-chat-card .media{
    align-items: center;
    border-bottom: 2px solid #d4d4d4;
    padding: .5rem 1rem;
}
.group-chat-card .media .media-img{
    width: 40px;
    height: 40px;
    border-radius: 7px;
    object-fit: cover;
}
.group-chat-card .media p{
    margin-bottom: 0;
    font-family: #575757;
    font-weight: 700;
}
.group-chat-card .media p.small{
    font-weight: 600;
}


/*--Short by Card--*/
.active-vertical-nav{
    display: block;
}
.short-by-link {
    font-size: 16px;
    display: block;
    font-weight: 600;
    color: #818181;
    padding: 0;
    border-radius: 0 !important;
    transition: 0.2s;
}
.short-by-link.active {
    color: #575757 !important;
    background-color: transparent !important;
    padding-left: 8px;
    border-left: 3px solid #0d6efd;
}
.short-by-link:hover{
    color: #575757;
}

/*--Filter by Card--*/
.shrtby-intitle{
    font-size: 17px;
    color: #818181;
    /*color: #575757;*/
    margin-top: 15px;
    font-weight:600;
    margin-bottom: 5px;
}
.select-row{
    display: flex;
    align-items: center;
}
.select-row select{
    width: auto;
    padding-right: 20px;
    background-position: 98%;
    margin-right: 10px;
    border: 0;
    margin-top: 5px;
}
select::selected{
    color: #5e5e5e;
}

/*--Groups Card--*/
.groups-card{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.groups-row{
    font-size: 17px;
    color: #565656;
    font-weight: 600;
    padding: 10px;
    border-radius: 7px;
    transition: 0.2s;
    margin-bottom: 0;
}
.groups-row:hover {
    background-color: #e7e6ed;
}
.groups-row img{
    width: 40px;
    height: 40px;
    border-radius: 7px;
    object-fit: cover;
}
.groups-row .groups-title{
    font-size: 15px;
    color: #575757;
    font-weight: 600;
    margin-bottom: 0;
    line-height: normal
}
.groups-row .groups-status{
    font-size: 13px;
    color: #7e7e7e;
    margin-bottom: 0;
}

/*--Grupper Card--*/
.grupper-card{
    background-color: #FFF;
    border: 1px solid #D4D4D4;
    border-radius: 15px;
    margin-bottom: 1.4rem;
    overflow: hidden;
}
.grupper-img-view{
    position: relative;
    width: 100%;
    height: 150px;
    padding: 20px;
    z-index: 200;
}
.grupper-img-view:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(to top, rgba(0,0,0,0.5), transparent, transparent);
    -webkit-background: linear-gradient(to top, rgba(0,0,0,0.5), transparent, transparent);
    background: linear-gradient(to top, rgba(0,0,0,0.5), transparent, transparent);
    -webkit-user-select: none;
    user-select: none;
    -webkit-pointer-events: none;
    pointer-events: none;
    z-index: -10;
}
.grupper-img-view .grupper-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -11;
}
.grupper-img-content{
    align-items: flex-end;
    z-index: 564;
}
.grupper-img-content .grupper-dp{
    width: 110px;
    height: 110px;
    border-radius: 20px;
    object-fit: cover;
}
.grupper-img-content .location-txt{
    font-size: 16px;
    color: #FFF;
    font-weight: 600;
    margin-bottom: 0;
}
.grupper-img-content .grupper-title{
    font-size: 30px;
    color: #FFF;
    font-weight: 600;
    margin-bottom: 0;
}
.grupper-content-view{
    position: relative;
    padding: 20px;
}
.member-count {
    font-size: 18px;
    color: #8C8C8C;
    font-weight: 600;
    margin-bottom: 0;
}
.public-group-text {
    color: #8C8C8C;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    line-height: 15px;
}
.public-group-text i{
    font-size: 35px;
    margin-right: 5px;
    /*margin-left: -8px;*/
}
.grupper-description{
    font-size: 14px;
    color: #7e7e7e;
    line-height: normal;
    margin-bottom: 0;
}
.grupper-btn-view {
    width: 110px;
    text-align: right;
}
.grupper-btn-view .btn{
    border-radius: 8px;
    width: 90%;
}


/*---------------------------------------------------
                    Responsive view
---------------------------------------------------*/
@media (max-width: 991px){
    .grupper-img-content .grupper-dp {
        width: 85px;
        height: 85px;
    }
    .grupper-img-view {
        height: 118px;
        padding: 15px;
    }
    .grupper-img-content .location-txt {font-size: 14px;}
    .grupper-img-content .grupper-title {font-size: 24px;}
    .grupper-content-view{padding: 15px;}
    .member-count{font-size: 15px;}
    .public-group-text i{font-size: 30px;}
    .public-group-text{
        line-height: 12px;
        font-size: 13px;
    }
    .grupper-btn-view{width: 90px;}
    .grupper-btn-view .btn{font-size: 11px;}    
}

/*-480px-*/
@media (max-width: 480px){
    .grupper-content-view .media {
        display: block;
        position: relative;
    }
    .grupper-btn-view {
        position: absolute;
        top: 0;
        right: 0;
    }
    .grupper-content-view .media-body {
        padding-left: 0;
        margin-top: 15px;
    }
    
}

/*-375px-*/
@media (max-width: 375px){
    .grupper-img-content{
        margin-top: 28px;
    }
    .grupper-img-content .grupper-dp {
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }
    .grupper-img-content .grupper-title {font-size: 18px;}
    .grupper-img-content .location-txt {font-size: 11px;}
    
}







