.chat{
    position:fixed;
    top:35%;
    left:0;
    z-index:1035 !important;
    margin-bottom: 0 !important;
    transition:left 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    width:80%;
}

.chat-closed{
    left:-70%;
}

.clickable{
    cursor: pointer;
}

.pfp{
    width:2rem;
    height:2rem;
}

.chat-message-box{
    display: flex;
    justify-content: center;
}

.chat-message-input-box{
    width:90%;
}

.group-chats{
    display: flex;
}

.group-chat-buttons{
    writing-mode: vertical-lr;
}